<h1>
  {{'app.title' | translate}}
</h1>
<div class="element">
  <div class="element-left">
    <div class="element-bg-img">
      <img *ngIf="resort; else noResorts" [src]="resort.picture" alt="" class="img-responsive">
      <ng-template #noResorts>Loading...</ng-template>
    </div>
    <div class="element-left-bottom">
      <hww-category-menu (choose)="chooseCategory($event);"></hww-category-menu>
      <hww-resort-list
        [resorts]="resorts"
        [category]="category"
        [choosenResort]="resort"
        (choose)="resort = $event;"></hww-resort-list>
    </div>
  </div>
  <div class="element-right">
    <hww-weather [weatherForcast]="resort?.weatherForcast"></hww-weather>
    <hww-resort-small-card [resort]="resort"></hww-resort-small-card>
  </div>
  <div class="clear"> </div>
</div>
