<h1>
  {{"app.title"|translate}}
</h1>
<div class="element">
  <div class="element-left">
    <div class="element-bg-img">
      <hww-resort-main-picture [resort]="resort"></hww-resort-main-picture>
    </div>
    <div class="element-left-bottom">
      <hww-category-menu (choose)="chooseCategory($event);"></hww-category-menu>
      <hww-resort-list
        [category]="category"
        [choosenResort]="resort"
        (choose)="resort = $event;"></hww-resort-list>
    </div>
  </div>
  <div class="element-right">
    <hww-weather [weatherForcast]="resort?.weatherForcast"></hww-weather>
    <hww-resort-small-card [resort]="resort"></hww-resort-small-card>
  </div>
  <div class="clear"> </div>
</div>
